.clip-path {
    position: relative;
}

.clip-path::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 8px solid #2196F3;
    border-radius: 50%;
    animation: clippath 3s infinite linear;
}


@keyframes clippath {

    0%,
    100% {
        clip-path: inset(0 0 50% 0);
    }

    25% {
        clip-path: inset(0 50% 0 0);
    }

    50% {
        clip-path: inset(50% 0 0 0);
    }

    75% {
        clip-path: inset(0 0 0 50%);
    }
}